<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BolaoBafanaContainer" connectionString="metadata=res://*/SqlServer.BolaoBafana.csdl|res://*/SqlServer.BolaoBafana.ssdl|res://*/SqlServer.BolaoBafana.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MICHElBANAGOURO\SQLEXPRESS;initial catalog=demobolaobafana;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>