<div id="footer" class="w960">
	<ul class="menuFooter">
		<li><a href="@Url.Action("Index", "Jogos")" title="Jogos">Jogos</a></li>
		<li><a href="@Url.Action("Index", "Ranking")" title="Ranking">Ranking</a></li>
		<li><a href="#" title="Sobre">Sobre</a></li>
		<li><a href="#" title="Contato">Contato</a></li>
	</ul>
	<span class="penalti"></span>
	<a class="nbr" href="http://www.londrinatechday.com.br/" title="Londrina TechDay" target="_blank">Londrina TechDay</a>
</div>