<div id="header">
	<div class="w960">
		<a href="#" title="Home" class="logo">Bolão Bafana</a>
		<ul class="menuHeader">
		    <li><a href="@Url.Action("Index", "Jogos")" title="Jogos">Jogos</a></li>
		    <li><a href="@Url.Action("Index", "Ranking")" title="Ranking">Ranking</a></li>
		    <li><a href="#" title="Sobre">Sobre</a></li>
		    <li><a href="#" title="Contato">Contato</a></li>
		</ul>
	</div>
</div>	